[Desktop Entry]
Version=0.1.0
Name=Wifi transfer
GenericName=wifi transfer
Comment=Cross platform file sharing via local network.
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;
Icon=file_sharer.png
