[Desktop Entry]
Version=1.0.0
Name=Wifi transfer
GenericName=wifi transfer
Comment=Cross platform file sharing via local network.
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;share;file;wifi;transfer;
Icon=wifi_transfer.png